#logo {
    height: 600px;
    background-image: url(cc_logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

table {
    align: center;
    height: 100px;
    margin-left:auto; 
    margin-right:auto;
}

th {
    text-align: center;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-radius: 5px;
    width: 33%;
}

p {
    color: black;
    font-size: 300%;
    text-align: center;
    font-weight: bold;
}