#logo {
    height: 600px;
    background-image: url(cc_logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

table {
    align: center;
    height: 100px;
    margin-left:auto; 
    margin-right:auto;
}

th {
    text-align: center;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-radius: 5px;
    width: 33%;
}

p {
    color: black;
    font-size: 300%;
    text-align: center;
    font-weight: bold;
}

.container {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: black;
}

.left {
    height: 100px;  
}

.right {
    height: 100px;
}

/* para class is included bc for some reason left and right boxes dont match up */
.para {
    padding-top: 50px;
}